<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <controllers>
      <controller type="Sitecore.WFFM.Services.Requests.Controllers.FormReportsController,Sitecore.WFFM.Services">
        <patch:attribute name="type">Sitecore.Support.WFFM.Services.Requests.Controllers.FormReportsExController,Sitecore.Support.138197</patch:attribute>
        <param MaxJsonLength="2147483000"/>
      </controller>     
    </controllers>
  </sitecore>
</configuration>